{
    "containers": {
        "app": {
            "user": "www-data"
        }
    },
    "proxies": {
        "composer": {
            "command": "composer",
            "aliases": ["c"],
            "containers": ["app"]
        },
        "shell": {
            "command": "sh",
            "aliases": ["sh"],
            "containers": ["app"]
        }
    }
}
