{
    "containers": {
        "app": {
            "user": "www-data"
        }
    },
    "commands": {
        "customs": {
            "shell": {
                "command": "sh",
                "aliases": ["sh"],
                "description": "Enter in a shell container",
                "containers": ["app"]
            }
        }
    }
}
